body{
    padding: 0%;
    margin: 0%;
    background-color: rgba(79, 163, 253, 0.48);
    flex-wrap: auto;
}

h1{
    font-weight: 800;
    font-size: 60px;
}

input{
    width: 100vmin;
    height: 40px;
    margin-block: 20px;
    border-radius: 20px;
    background-color: azure;
    border-color: dimgrey;
    border:none;
    text-align: right;
    font-size: 35px;
    font-weight: bold;
    box-shadow: none;
}

.main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.numbers{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button{
    width: 170px;
    height: 100px;
    font-size: 55px;
    margin:px;
    border-radius: 20px;
    border: none;
    background-color: rgba(65, 100, 88, 0.524);
    cursor: pointer;
    transition: 1s;
}

button:active{
    transform:scaleX(1.2);
}


