@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body{
    background-color: rgba(0, 0, 0, 0.934);
    position: relative;
    display: grid;
    display: flex;
}

/* Styling for navigation bar */

.navbar{
    color: white;
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    align-items: center;
    padding-block: 10px;
    padding-inline: 20px;
    position: fixed;
    top: 0px;
    overflow: hidden;
    width: 100%;
    margin: auto;
    z-index: 20;
}

.navbar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.navbar .logo .fa-bars {
    color: white;
    font-size: 25px;
    padding: 8px 10px;
    border-radius: 50%;
}

.navbar .logo .fa-bars:hover{
    cursor: pointer;
    background-color: rgba(48, 48, 48, 0.584);
}

.navbar .logo img{
    height: 25px;
    margin-left: 20px;
}

.navbar .logo span {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    cursor: pointer;
    margin-left: 2px;
}

.navbar .search{
    height: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar .search .search-logo input[type='text']{
    height: 35px;
    width: 550px;
    background-color: transparent;
    border: 1.5px solid rgba(62, 61, 61, 0.434);
    font-size: 18px;
    padding-inline: 15px;
    padding-block: 3px;
    border-top-left-radius: 22.5px;
    border-bottom-left-radius: 22.5px;
}


.navbar .search .search-logo .fa-magnifying-glass{
    background-color: rgba(62, 61, 61, 0.434);
    margin: -4px;
    padding: 13.5px 25px;
    border:none;
    border-top-right-radius:22.5px;
    border-bottom-right-radius: 22.5px;
    cursor: pointer;
}

.navbar .search .fa-microphone{
    margin-inline: 20px;
    padding: 12.5px 15px;
    border-radius: 50px;
    background-color: rgba(62, 61, 61, 0.434);
}

.navbar .search .fa-microphone:hover{
    cursor: pointer;
    background-color: rgba(99, 98, 98, 0.462);
}

.navbar .right{
    margin-right: 50px ;
}

.navbar .right i{
    margin-right: 15px;
    font-size: 20px;
    padding: 12px 12px;
    border-radius: 47.5%;
    cursor: pointer;
}

.navbar .right i:hover{
    background-color: rgba(99, 98, 98, 0.462);
}

.navbar .right span{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    background-color: brown;
    padding: 6px 9px;
    border-radius: 50%;
    cursor: pointer;
}

/* Styling for sidebar undetailed */

.sidebar_undetailed{
    width: 80px;
    height: 100vh;
    margin: auto;
    position:fixed;
    display: none;
}

.sidebar_undetailed .icons_menu {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar_undetailed .icons_menu .menu_home img{
    height: 25px;
}

.sidebar_undetailed .icons_menu .menu_home i{
    font-size: 20px;
    color: aliceblue;
}

.sidebar_undetailed .icons_menu .menu_home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 15px 18px;
    border-radius: 10px;
    overflow: hidden;
}

.sidebar_undetailed .icons_menu .menu_home:hover{
    background-color: rgba(99, 98, 98, 0.462);
}

.sidebar_undetailed .icons_menu .menu_home span{
    color: aliceblue;
    font-size: 0.8rem;
}

/* Styling for sidebar detalied */

.sidebar_detailed {
    margin-top: 75px;
    width: 16%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    color: aliceblue;
    padding: 0px 15px;
    grid-column: 1 / 4;
    grid-row: 2/ 12;
    /* margin-left: -300px; */
}


.sidebar_detailed .menu {
    display: flex;
    flex-direction: column;
}

.sidebar_detailed .menu .menu_home{
    display: flex;
    padding: 12px;
    width: 100%;
    align-items: center;
}

.sidebar_detailed .menu .menu_home img{
    height: 25px;
    padding-right: 20px;
}

.sidebar_detailed .menu .menu_home i{
    font-size: 20px;
    padding-right: 20px;
}

.sidebar_detailed .menu .menu_home:hover{
    background-color: rgba(99, 98, 98, 0.462); 
    border-radius: 10px;
}


.sidebar_detailed .common .content{
    display: flex;
    padding: 12px;
    width: 100%;
    align-items: center;
}

.sidebar_detailed .common h4{
    padding: 12px;
    font-weight: 600;
}

.sidebar_detailed .common {
    margin-block: 20px ;
}

.sidebar_detailed .common .content:hover{
    background-color: rgba(99, 98, 98, 0.462); 
    border-radius: 10px;
}

.sidebar_detailed .common .content i{
    font-size: 20px;
    padding-right: 20px;
}

.sidebar_detailed .common .content span,.sidebar_detailed .menu .menu_home span{
    font-size: 0.9rem;
}

.sidebar_detailed .common .content img{
    height: 25px;
    padding-right: 20px;
}

.sidebar_detailed .common .content_links{
    margin-block: 10px;
    display: flex;
    flex-wrap: wrap;
}


.sidebar_detailed .common .content_links a{
    text-decoration: none;
    color: aliceblue;
    margin-left: 10px;
    margin-bottom: 5px;
}

.sidebar_detailed .sidebar_footer span{
    padding: 10px;
    font-size: 0.85rem;
    color: rgba(63, 68, 72, 0.839);
}

/* Main content styling */

.main_content{
    margin-top: 80px;
}

.main_content .frequently_chacked_links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main_content .frequently_chacked_links a{
    text-decoration: none;
    color: aliceblue;
    font-weight: 400;
    padding: 8px;
    margin-inline: 5px;
    background-color: rgba(99, 98, 98, 0.165); 
    border-radius: 5px;
}

.main_content .frequently_chacked_links a:hover{
    background-color: rgba(99, 98, 98, 0.388); 
}


















